body {
  background-image: url('images/delobg.png'), url('images/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#questionnaire-wrapper {
  margin-top: 5%;
  margin-left: 20%;
}

#delo {
  margin-left: 30%;
}

#fields-wrapper {
  padding-top: 30px;
}

.field-title {
  font-size: 25px;
  color: rgb(47, 27, 21);
  font-family: Arial, sans-serif;
}

.field-data {
  color: rgb(47, 27, 21);
  margin-left: 30px;
  margin-top: -15px;
  position: absolute;
  font-size: 30px;
  font-family: Courier New, monospace;
  min-width: 500px;
}

.field-line {
  position: absolute;
  margin-left: 10px;
}

.field {
  padding-top: 40px;
}

#checkboxes-container {
  width: 850px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.checkbox-title {
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.checkbox {
  display: none;
}

.checkbox + label {
  display: inline-flex;
  background-image: url('images/checkbox-unchecked.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 28px;
  width: 25px;
}

.checkbox:checked + label {
  display: inline-flex;
  background-image: url('images/checkbox-unchecked.png'), url('images/checkbox-checked.png');
  background-repeat: no-repeat;
  background-position: left bottom, right top;
  height: 28px;
  width: 25px;
}

#slider {
  margin-left: -3px;
  -webkit-appearance: none;
  width: 767px;
  height: 15px;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  background-image: url('images/slider.png');
  background-repeat: no-repeat;
  cursor: pointer;
}

#slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('images/slider.png');
  background-repeat: no-repeat;
  cursor: pointer;
}

#slider-text-container {
  width: 850px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.slider-text {
  font-size: 13px;
  color: rgb(47, 27, 21);
  font-family: Arial, sans-serif;
}

#dateline {
  position: absolute;
  margin-left: 20px;
  width: 200px;
  margin-top: 20px;
}
