<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Задание 1</title>
  </head>
  <body>
    <p>
      <a href="/">На главную</a>
    </p>
    <div id="task1">
      <p>
        <label for="firstNumber">Первое число:</label>
        <br>
        <input v-model="firstNumber" type="number" step=any>
      </p>
      <p>
        <label for="secondNumber">Второе число:</label>
        <br>
        <input v-model="secondNumber" type="number" step=any>
      </p>
      <button @click="sum">Сложить</button>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="task1/task1.js"></script>
</html>
